<app-menu></app-menu>
<div class="content">
    <header class="header">
        <h1>Обратная связь</h1>
    </header>
    <div class="container">
        
        <h1>Пожайлуста, напишите Ваш вопрос/ предложение:</h1>
        <div class="block__row">
            <textarea type="text" class="input-text" [(ngModel)]="msgText" placeholder=":)"></textarea>
            <button class="button" (click)="sendMsg()">
                отправить
            </button>
        </div>
    </div>
    
    <div class="footer">
        <div class="menu-button__block" (click)="onToggleMenu()">
            <span class="menu-button"> </span>
        </div>

    </div>
</div>
