<div class="content">
    <div class="container">
        <p class="text">
            Введите название комплекса:
        </p>
        <input type="text" [(ngModel)]="complexName">
    </div>
    <div class="footer">
        
        <div class="menu-button__block" (click)="previously()">
            <p  class="arrow"> <i class="arrow left"></i></p>
        </div>
        <div class="menu-button__block" (click)="next()">
            <p class="arrow">  <i class="arrow right"></i></p>
        </div>
    </div>
</div>
