.text {
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button__next {
  height: 2px;
  width: 20px;
  background-color: #009688;
  position: absolute;
}

.button__next::after {
  content: "";
  height: 2px;
  width: 10px;
  background-color: #009688;

  position: absolute;
  transform: translateY(-6px);
}

.button__next::before {
  content: "";
  height: 2px;
  width: 10px;
  background-color: #009688;
  transform: translateY(6px);

  position: absolute;
}

i {
  border: solid #009688;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow{
  margin: 0;
}