.content{
    padding-bottom: 60px;
}

.text{
    text-align: center;
    color: rgb(226, 226, 226);
    font-size: 18px;
    
}

.setting__block{
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.toggle-button{
    margin: 10px;
}

.settings-input{
    max-width: 250px;
    font-size: 20px;
    border: none;
    background-color: rgb(221, 221, 221);
    color: #000;
}

.metronome__settings{
    display: flex;
    align-items: center;
}

.button__submit{
    width: 40vw;
    height: 60px;
    transition: 500ms;
    font-size: 18px;
}

.settings__button{
    display: flex;
    justify-content: space-between;
}

