<app-menu></app-menu>
<div class="content">
    <div class="header">
        <h1>
            Настройки
        </h1>
    </div>
    <div class="container">
        <div class="setting__block">
            <p class="text">
                Установите приоритет (чем больше число, тем выше практика в списке)
            </p>
            <input type="number">
        </div>
        <div class="setting__block">
            <p class="text">
                Установите время всей практики
            </p>
            <input type="number">
        </div>

        <div class="setting__block">
            <p class="text">
                Также вы можете установить время на каждое упражнение
            </p>
            <input type="number">
        </div>

        <div class="setting__block">
            <p class="text">
                Установите время, через которое вы получите сообщение о неотвлечении
            </p>
            <input type="number">


        </div>
        <div class="setting__block">
            <p class="text">
                Цель: время проведенное в практике (часов)
            </p>
            <input type="number">
        </div>
    </div>
</div>