.text{
    text-align: center;
    color: rgb(80, 80, 80);
}

.setting__block{
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.toggle-button{
    margin: 10px;
}

.settings-input{
    max-width: 250px;
    font-size: 20px;
    border: none;
    background-color: rgb(221, 221, 221);
}