<div class="wrapper" id="menu">
    <div class="componentt">
        <div class="menu-close">
            <div class="menu__close-btn" (click)="onToggleMenu()">
                <span class="menu__close-line"></span>
            </div>
        </div>


        <div class="menu__list">
            <div class="menu__list-item">
                <img src="../../assets/icons/icons nav/icon-nav1.svg" alt="" class="icon-img">
                <span class="menu__text" (click)="onCatalogChange()">Каталог</span>
            </div>
            <div class="menu__list-item">
                <img src="../../assets/icons/icons nav/icon-nav2.svg" alt="" class="icon-img"><span
                    class="menu__text" (click)="Complexes()">Комплексы</span>
            </div>
            <div class="menu__list-item">
                <img src="../../assets/icons/icons nav/icon-nav3.svg" alt="" class="icon-img"> <span
                    class="menu__text" (click)="PersonalInfo()">Личный кабинет</span>
            </div>
            <div class="menu__list-item">
                <img src="../../assets/icons/icons nav/icon-nav4.svg" alt="" class="icon-img"> <span
                    class="menu__text" [routerLink]="['/feedback']">Обратная связь</span>
            </div>
            <div class="menu__list-item">
                <img src="../../assets/icons/icons nav/icon-nav5.svg" alt="" class="icon-img"> <span (click)="onToggleMenu2()"
                    class="menu__text">Найти практику</span>
            </div>
            <div class="menu__list-item">
                <img src="../../assets/icons/icons nav/icon-nav6.svg" alt="" class="icon-img"> <span
                    class="menu__text" (click)="logout()">Выйти</span>
            </div>






        </div>
    </div>
    <div class="invisible" id="invisible" (click)="onToggleMenu()">

    </div>
</div>
<div class=" wbackground" id="bg">

</div>

<div class="footer">
    <div class="menu-button__block" (click)="onToggleMenu()">
        <span class="menu-button"> </span>
    </div>

</div>