<app-menu></app-menu>
<div class="content">
    <header class="header">
        <h1> Комплексы практик</h1>
    </header>
    <div class="container">
        <h2 class="h2__header"> Общие комплексы</h2>
        <div class="complex__block">
            <div class="complex__element" *ngFor="let element of DataAll.array" (click)="openComplex_listPage(element.name)">
                <img src="{{element.ico}}" alt="" class="img-icon">
                <p>{{element.name}}</p>
            </div>
        </div>
        <h2 class="h2__header"> Личные комплексы</h2>
        <div class="complex__block">
            <p *ngIf=" userComplexes == null||undefined">У Вас пока нет комплексов, но Вы можете их создать</p>
            <div class="complex__element" *ngFor="let element of userComplexes" (click)="openComplex_listPage(element.name)">
                <img src="{{element.ico}}" alt="" class="img-icon">
                <p>{{element.name}}</p>
            </div>
        </div>
        <button class="button" (click)="toCreateComplexName()">
            Добавить комплекс
        </button>
    </div>

    <div class="footer">
        <div class="menu-button__block" (click)="onToggleMenu()">
            <span class="menu-button"> </span>
        </div>

    </div>
</div>