.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer {
    background: -webkit-linear-gradient(180deg, rgb(144, 251, 241), rgb(0, 150, 136));
    background: -moz-linear-gradient(180deg, rgb(144, 251, 241), rgb(0, 150, 136));
    background: linear-gradient(180deg, rgb(144, 251, 241), rgb(0, 150, 136));
}

.complex__block {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    padding: 15px;
    flex: 1 0 30%;
    -webkit-box-shadow: 0px 2px 16px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 16px 9px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 16px 9px rgba(34, 60, 80, 0.2);
}

.complex__element {
    background: #fff;
    border-right: 2px solid rgb(175, 175, 175);
    border-left: 2px solid rgb(175, 175, 175);
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.h2__header {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    color: rgb(122, 122, 122);
}

.button{
    transition: 0.5s;

}
