<div class="component">
    <div class="practice-img">
        <!-- <img img-cache img-cache-src="{{ practice.img }}" *ngIf="practice.img" style="padding-top: 10px;" /> -->

        <div class="image" [ngStyle]="{'background': 'url('+currentPractice?.img+') 0 0/cover  no-repeat'}">

        </div>
        <!-- <div class="time">

        </div> -->

    </div>
    <div class="items" *ngFor="let t of currentPractice?.bmtracks; let i=index" #track>
        <div class="inner" (click)="onClick(i)">
            {{i+1}}. {{t.name}}
            <audio src="{{t.url}}" class="audio " id='{{i}}' controls (play)="onPlay(i, $event)" (pause)="onPlay(i, $event)"> </audio>
        </div>
    </div>
</div>
<div class="footer">
    <div class="inne" (click)="before()">
        <div class="icon-img img_forward"></div>
    </div>
   
    <div class="inne">
        <img src="../../assets/icons/icons/play-back.svg" alt="" class="icon-img" *ngIf="isPlay" (click)="Play() ">
        <img src="../../assets/icons/icons/pause.png" alt="" class="icon-img" *ngIf="!isPlay" (click)="onPause()"> 
    </div>
    <div class="inne" (click)="next()">
        <div class="icon-img img_next"></div>
    </div>
    <div class="inne" [routerLink]="['/practices-search']">Назад</div>
</div>
