.component {
    max-width: 1200px;
    margin: 0px auto;

    //position: relative;
    // border: 2px solid #009688;
    //border-radius: 10px;
}
.component {
    padding-bottom: 50px !important;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 800px;

    width: 100%;

    height: calc(75vh + 100px);
    background-position: center !important;
    // background-repeat: no-repeat;
    // background-size: cover;
}
.img {
    max-width: 600px;
}
.time {
    height: 40px;
    background: #009688;
}
.title {
    text-align: center;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(27, 27, 27);
    display: flex;
    height: 60px;
    width: 60%;
    background-color: rgb(207, 207, 207) !important;
    z-index: 2;
    margin: 0 20%;
}

.inner {
    display: flex;
    flex-direction: column;
    // background: #009688;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    background: #fff;
}
.inne {
    flex: 1 1 25%;
    margin: 10px;
}

.text{
    font-size: 18px;
    font-weight: 600;
}

.items {
    // background: #fff;
}

.innetx {
    cursor: pointer;
}
.audio {
    width: 100%;
    display: none;
}
.active {
    display: block;
    transition: 500ms;
}

.icon-img {
    width: 32px;
    height: 32px;
    z-index: 7;
    cursor: pointer;
}
.img_forward {
    background: url(../../assets/icons/icons/backward.svg) 0 0/cover  no-repeat;
}
.img_play {
    background: url(../../assets/icons/icons/play-back.svg) 0 0/cover  no-repeat;
}
.img_pause {
    background: url(../../assets/icons/icons/pause.png) 0 0/contain  no-repeat;
    width: 48px;
    height: 48px;
}
.img_next {
    background: url(../../assets/icons/icons/forward.svg) 0 0/cover  no-repeat;
}
@media (max-width: 1200px) {
    .component {
        max-width: 800px;
    }
    .image {
        height: calc(75vh - 142.8px);
    }
}

@media (max-width: 800px) {
    .image {
        height: calc(75vh - 142.8px);
    }
    .conmponent {
        max-width: 800px;
        margin: 0px auto;
        position: relative;
        border: 2px solid #009688;
        border-radius: 10px;
    }
    .footer {
        position: fixed;
        bottom: 0;
        border-top: 1px solid rgb(27, 27, 27);
        display: flex;
        height: 50px;
        width: 100%;
        background-color: white;
        z-index: 2;
        margin-left: 0;
    }
}
