.wrapper {
    // width: 100%;
    // height: 100%;

    // Хороший вариант с золотым цветом
    // background: url(../assets/images/966_original.jpg) repeat;

    // небесно голубой перелив
    // background-color: #0093e9;
    // background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

    //
    // background-color: #ffe53b;
    // background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);

    //
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);



    //
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.Gold{
    // Хороший вариант с золотым цветом
    background: url(../assets/images/966_original.jpg) repeat;
}

.blue-sky{
    background-color: #0093e9;
     background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
