<app-menu></app-menu>
<div class="content">
    <div class="container">
        <h1>Каталог</h1>
        <div class="" *ngFor="let group of groupedGroupingPractices  ">
            <h2>{{group[0]}}</h2>


            <!-- <div *ngFor="let pr of pract; let i= index">
                    <li>{{pr[0].name}}</li>
                </div> -->
            <div class="block__row">
                <div class="block__element" *ngFor="let pract of group[1]" (click)="openPractice(pract)">
                    <div class="inner">
                        <div class="iage">
                            <img class="icon-img" src="{{pract.ico}}" alt="">
                        </div>
                        <div class="text">
                            <p>{{pract.name}}</p>
                        </div>

                    </div>
                </div>

            </div>

            <button class="button" (click)="morePractices()">больше практик</button>


        </div>

        <div *ngFor=""></div>


    </div>
    <div class="footer">
        <div class="menu-button__block" (click)="onToggleMenu()">
            <span class="menu-button"> </span>
        </div>
    </div>
</div>