form{
    background: #fff;
}
.content{
    background: #fff;
}

.select{
    font-size: 16px;
    max-width: 475px;
}
.text{
    text-align: center;
    margin-top: 20px;
}
option::before{
   content: "";
    z-index: 6;
    height: 10px;
    width: 10px;
    border: 1px solid grey;
    background: #000;
    display: block;
}
option{
    margin: 0px;
}

.header2{
    text-align: center;
    font-weight: normal;
}
