<app-menu></app-menu>
<div class="content">
    <header class="header">
        <h1> Личный кабинет</h1>
    </header>

    <div class="container">

        <div class="block__row">

            <div class="inner">
                <div class="inner__profile">

                    <h2 class="our__cabinet">Профиль</h2>


                  <div class="inpput__block"> <span class="spiritual__name span">Духовное имя</span></div> 

                    <div class="inpput__block">
                        <input type="text " class="input__cabinet" [(ngModel)]="userData.spiritalName">
                    </div>

                    <div class="inpput__block"> <span class="world__name span">Имя</span></div> 
                    <div class="inpput__block">
                        <input type="text" class="input__cabinet" [(ngModel)]="userData.name">
                    </div>
                    <div class="inpput__block"> <span class="world__name span">Фамилия</span></div> 
                    <div class="inpput__block">
                        <input type="text" class="input__cabinet" [(ngModel)]="userData.lastname">
                    </div>


                  
                    



                    <div class="inpput__block"><span class="status span">Статус</span> </div>  
                    <div class="inpput__block">
                        <input disabled type="text" class="input__cabinet" [(ngModel)]="userData.status">
                    </div>
                    

                    <div class="inpput__block"><span class="status span">Курс обучения</span> </div>  
                    <div class="inpput__block">
                        <input disabled type="text" class="input__cabinet" [(ngModel)]="userData.course">
                    </div>


                    <div class="inpput__block"><span class="status span">Пароль</span> </div> 
                    <div class="inpput__block">
                        <input type="text" class="input__cabinet" [(ngModel)]="userData.password">
                    </div>
                    <div class="inpput__block"><span class="status span">Повторите пароль</span> </div> 
                    <div class="inpput__block">
                        <input type="text" class="input__cabinet" [(ngModel)]="userData.confirmPassword">
                    </div>

                  


                    

                    <button class="button" (click)="changeUserData()">Изменить данные</button>

                    <div style="color: #327ea6;
                    padding: 15px;">Для изменения e-mail напишите<br>администратору support@institute-vasishtha.com</div>


                    <!-- <mat-progress-spinner class="example-margin" color="warn" mode="determinate" value="10"></mat-progress-spinner> -->
                </div>

            </div>
        </div>

        <div class="progress__block">
            <div class="block__row1">
                <div class="inner">
                    <h2 class="h2__centr">Цели</h2>
                    <div class="inner__item">


                        <div class="progress__item" *ngFor="let item of goalsArr">

                            <div class="image"><img src="{{item[3].ico}}" alt="" class="img-icon"></div>
                            <div class="progress__description">
                                <p class="text">{{item[3].name}}</p>
                            </div>
                            <div class="progress__circle">
                                <progress-chart [progress]="item[2]"></progress-chart>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class="footer">
        <div class="menu-button__block" (click)="onToggleMenu()">
            <span class="menu-button"> </span>
        </div>

    </div>
</div>