<app-menu></app-menu>
<div class="content">
    <header class="header">
        <h1> Личный кабинет</h1>
    </header>

    <div class="container">
        <div class="block__row">

            <span class="spiritual__name span">Духовное имя</span>

            <input type="text " class="input__cabinet" [(ngModel)]="userData.spiritalName">

            <span class="world__name span">Ф.И.О</span>

            <input type="text" class="input__cabinet" [(ngModel)]="userData.name">

            <span class="gender span">Пол</span>

            <select name="" id="" class="select__cabinet">

                <option value="1" hidden ng-selected="selected"></option>

                <option value="Матаджи">Матаджи</option>
                <option value="Прабху">Прабху</option>

            </select>

            <span class="status span">Статус</span>

            <select name="" id="" class="select__cabinet" [(ngModel)]="userData.status">

                <option value="{{userData.status }}" hidden ng-selected="selected"> {{userData.status }}</option>
                <option value="Грихастха">Грихастха</option>
                <option value="Карма-Санньяси">Карма-Санньяси</option>
                <option value="Пурна-Санньяси">Пурна-Санньяси</option>

            </select>

            <span class="phone span">Телефон</span>

            <input type="text" class="input__cabinet">

            <button class="button" (click)="changeUserData()">Изменить данные</button>

            <h2 class="h2__centr">Цели</h2>

            <!-- <mat-progress-spinner class="example-margin" color="warn" mode="determinate" value="10"></mat-progress-spinner> -->




            <div class="progress__block">
                <div class="progress__item" *ngFor="let item of goalsArr">

                    <div class="image"><img src="{{item[3].ico}}" alt="" class="img-icon"></div>
                    <div class="progress__description">
                        <p class="text">{{item[3].name}}</p>
                    </div>
                    <div class="progress__circle">
                        <progress-chart [progress]="item[2]"></progress-chart>
                    </div>


                </div>
            </div>

        </div>


    </div>

    <div class="footer">
        <div class="menu-button__block" (click)="onToggleMenu()">
            <span class="menu-button"> </span>
        </div>

    </div>
</div>