.conmponent{
    max-width: 800px;
    margin: 0px auto;
  //  position: relative;
    // border: 2px solid #009688;
    // border-radius: 10px;
}
.image{
   // width: 100%;
   height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    //max-height :800px;
    width: 100%;
    height: calc(75vh - 142.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img{
    max-width: 600px;
}

.title{
    text-align: center;
    font-weight: bold;
}
.time{
    height: 40px;
    background: #009688;
}
.text{
    overflow:scroll;
}

.footer{
    position: fixed;
    bottom:0;
    border-top : 1px solid rgb(27, 27, 27);
    display: flex;
    height: 50px;
   width: 100%;
   background-color: white;
   z-index: 2;
   margin-left: 0;
}

.inner{
    flex: 1 1 25%;
    margin: 10px;
    background-image: url();
    
}

@media(max-width : 500px){
    .image{
        display: flex;
        align-items: center;
        justify-content: center;
       // max-height :300px;
    }
    .img{
        //max-width: 400px;
    }


    .text{
        max-height: 250px;
        padding-bottom: 60px;
    }
    
}