.conmponent{
    max-width: 800px;
    margin: 0px auto;
    padding-bottom: 65px;
}
.image{
   // width: 100%;
   height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    //max-height :800px;
    width: 100%;
    height: calc(75vh - 142.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img{
    max-width: 600px;
}

.title{
    text-align: center;
    font-weight: bold;
}
.time{
    height: 40px;
    background: #009688;
}
.text{
    overflow-y:scroll;
    max-width: auto;
    line-height: 20px;
    padding : 0 10px;
}

.footer{
    position: fixed;
    bottom:0;
    border-top : 1px solid rgb(27, 27, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
   width: 60%;
   background-color: rgb(207, 207, 207);
   z-index: 2;
   margin: 0 20% ;
}

.inner{
   // flex: 1 1 25%;
    margin: 10px;
    background-image: url();
    cursor: pointer;
    
}

@media(max-width : 500px){
    .image{
        display: flex;
        align-items: center;
        justify-content: center;
       // max-height :300px;
    }
    .img{
        //max-width: 400px;
    }


    .text{
        max-height: 250px;
        padding-bottom: 60px;
    }
    
}

@media(max-width: 800px){
    .image{
        height: calc(75vh - 142.8px); 
    }
    
    .footer{
        position: fixed;
        bottom:0;
        border-top : 1px solid rgb(27, 27, 27);
        display: flex;
        height: 50px;
       width: 100%;
       background-color: white;
       z-index: 2;
       margin-left: 0;
    }

}