.conmponent {
    position: relative;
    min-height: 100vh;
}

.block {
    min-height: 100vh;
    max-width: 800px;
    margin: 0px auto;
    // padding-bottom: 65px;
    background: rgb(255, 255, 255);
}

.image {
    // width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    //max-height :800px;
    width: 100%;
    height: calc(75vh - 142.8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img {
    max-width: 600px;
}

.title {
    text-align: center;
    font-weight: bold;
}
.time {
    height: 40px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text {
    overflow-y: scroll;
    max-width: auto;
    line-height: 20px;
    padding: 0 10px;
}

.footer__practic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(0, 150, 136);
    display: flex;
    height: 50px;
    width: 60%;
    background-color: white !important;
    z-index: 2;
    margin-left: 20%;
    border-radius: 8px 8px 0 0;
}

.inner {
    // flex: 1 1 25%;
    margin: 10px;
    background-image: url();
    cursor: pointer;
}

.time_left {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.img-clock__icon {
    width: 40px;
    height: 40px;
    //  background-color: #fff;
}

.img__block {
    display: flex;
    align-items: center;
}
.mirror{
    transform: scale(-1, 1);

   
}

p {
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        // max-height :300px;
    }
    .img {
        //max-width: 400px;
    }

    .text {
        max-height: 250px;
        padding-bottom: 60px;
    }
}

@media (max-width: 800px) {
    .image {
        height: calc(75vh - 142.8px);
    }

    .footer__practic {
        position: fixed;
        bottom: 0;
        border-top: 1px solid rgb(0, 150, 136);
        display: flex;
        height: 50px;
        width: 100%;
        background-color: white !important;
        z-index: 2;
        margin-left: 0;
    }
}
