/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
    
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



@font-face {
    font-family: "gilroybold";
    src: url("assets/fonts/gilroy-bold.ttf") format("truetype"),
      url("assets/fonts/gilroy-bold.svg#gilroybold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "gilroymedium";
    src: url("assets/fonts/gilroy-medium.ttf") format("truetype"),
      url("assets/fonts/gilroy-medium.svg#gilroymedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "gilroyregular";
    src: url("assets/fonts/gilroy-regular.ttf") format("truetype"),
      url("assets/fonts/gilroy-regular.svg#gilroyregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "open-sans-light";
    src: url("assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Caveat";
    src: url("assets/fonts/Caveat/Caveat-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
//   @import "assets/scss/style.scss";
  
  body {
    min-width: 320px;
    margin: 0 auto;
    font-family: gilroyregular, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: color( gray);
    background: color( white);
  }
  .content-md {
    color: color( gray);
  }
  button {
    font-family: gilroyregular, Arial, sans-serif;
  }
  input {
    font-family: gilroyregular, Arial, sans-serif;
  }
  h1 {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    font-family: gilroyregular, Arial, sans-serif;
    margin: 0.67em 0;
    color: color( gray);
    
  }
  h2 {
    font-family: gilroyregular, Arial, sans-serif;
  }
  h3 {
    font-family: gilroyregular, Arial, sans-serif;
  }
  h4 {
    font-family: gilroyregular, Arial, sans-serif;
  }
  h5 {
    font-family: gilroyregular, Arial, sans-serif;
  }
  h6 {
    font-family: gilroyregular, Arial, sans-serif;
  }
  p {
    font-family: gilroyregular, Arial, sans-serif;
    color: color( text-light);
  }
  p.text-wrap {
    font-family: gilroyregular, Arial, sans-serif;
    color: color( text-light) !important;
  }
  div {
    font-family: gilroyregular, Arial, sans-serif;
  }
  option{
    margin: 18px;
    font-family: gilroyregular, Arial, sans-serif;
    color: color( gray);
}
select{
  font-family: gilroyregular, Arial, sans-serif;
    color: color( gray);
}
  .asans-details {
    font-family: "Caveat";
    font-size: 20px;
    letter-spacing: 1px;
  }
  .text-light {
    color: color( text-light);
  }
  .label-md {
    margin: 0 !important;
  }
  .pos-a {
    position: absolute !important;
  }
  .pos-r {
    position: relative;
  }
  .df {
    display: flex;
  }
  .ai-c {
    align-items: center;
  }
  .jc-c {
    justify-content: center;
  }
  .full-width {
    width: 100% !important;
  }
  .border-r {
    border-right: 2px solid color( gray-100);
    &:last-child {
      border: none;
    }
    &:only-child {
      border-right: 2px solid color( gray-100);
      border-left: 2px solid color( gray-100);
    }
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(81, 81, 81, 0.1);
    box-shadow: 0px 0px 10px 2px rgba(81, 81, 81, 0.1);
  }


  .img-sing-in{
    background: none;
   max-width: 200px;
   width: 200px;
   height: 200px;
   margin: auto;
   margin-bottom: 22px;
}

.component{
    max-width: 500px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    border: 2px solid #009688 ;

    border-radius: 2px;
    margin-bottom: 10px;
    padding: 14px 12px;
    padding-right: 10px !important;
   
    margin: 14px 8px;
}

.error-validation{
  border: 2px solid red !important;
}
.select{
  border: 2px solid #009688 ;

    border-radius: 2px;
    margin-bottom: 10px;
    padding: 14px 12px;
    padding-right: 10px !important;
   
    margin: 14px 8px;
}
// input::placeholder{
//    // margin: 14px 8px;
//    // padding: 10px;
// }

.button{
    margin: 14px 8px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 2px solid #009688 ;
    color: #009688;
}

.button-submit{
  transition: 1s ;}
  
  .button-submit:hover{
      background-color: #009688 ;
      color: #fff;
      transition: 1s ;
  }

button[disabled]{
    border: 2px solid #c4c4c4 ;
}

.icon-img{
  width: 32px;
  height: 32px;
  z-index: 7;
  cursor:pointer;
  
}
//BREAKPOINTS//

//   $breakpoints: (
//     xs: 'screen and (max-width: 599px)',
//     sm: 'screen and (min-width: 600px) and (max-width: 959px)',
//     md: 'screen and (min-width: 960px) and (max-width: 1279px)',
//     lg: 'screen and (min-width: 1280px) and (max-width: 1919px)',
//     xl: 'screen and (min-width: 1920px) and (max-width: 5000px)',
//     lt-sm: 'screen and (max-width: 599px)',
//     lt-sm-mid: 'screen and (max-width: 750px)',
//     lt-md: 'screen and (max-width: 959px)',
//     lt-lg: 'screen and (max-width: 1279px)',
//     lt-xl: 'screen and (max-width: 1919px)',
//     gt-xs: 'screen and (min-width: 600px)',
//     gt-sm: 'screen and (min-width: 960px)',
//     gt-md: 'screen and (min-width: 1280px)',
//     gt-lg: 'screen and (min-width: 1920px)'
// ) !default;

// $grid-breakpoints: (
//     xs: 0,
//     sm: 600px,
//     md: 960px,
//     lg: 1280px,
//     xl: 1920px
// ) !default;

// @mixin media-breakpoint($breakpointName) {

//     $mediaQuery: map_get($breakpoints, $breakpointName);

//     @if ($mediaQuery != null) {

//         @media #{$mediaQuery} {
//             @content
//         }
//     }
// }

// //    >> breakpoint-next(sm)
// //    md
// //    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
// //    md
// //    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
// //    md
// @function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
//     $n: index($breakpoint-names, $name);
//     @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
// }

// // Minimum breakpoint width. Null for the smallest (first) breakpoint.
// //
// //    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
// //    576px
// @function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
//     $min: map-get($breakpoints, $name);
//     @return if($min != 0, $min, null);
// }

// // Maximum breakpoint width. Null for the largest (last) breakpoint.
// // The maximum value is calculated as the minimum of the next one less 0.1.
// //
// //    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
// //    767px
// @function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
//     $next: breakpoint-next($name, $breakpoints);
//     @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
// }

// // Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
// // Useful for making responsive utilities.
// //
// //    >> breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
// //    ""  (Returns a blank string)
// //    >> breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
// //    "-sm"
// @function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
//     @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
// }

// // Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// // Makes the @content apply to the given breakpoint and wider.
// @mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
//     $min: breakpoint-min($name, $breakpoints);
//     @if $min {
//         @media (min-width: $min) {
//             @content;
//         }
//     } @else {
//         @content;
//     }
// }

// // Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// // Makes the @content apply to the given breakpoint and narrower.
// @mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
//     $max: breakpoint-max($name, $breakpoints);
//     @if $max {
//         @media (max-width: $max) {
//             @content;
//         }
//     } @else {
//         @content;
//     }
// }

// // Media that spans multiple breakpoint widths.
// // Makes the @content apply between the min and max breakpoints
// @mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
//     $min: breakpoint-max($lower, $breakpoints);
//     $max: breakpoint-max($upper, $breakpoints);

//     @media (min-width: $min) and (max-width: $max) {
//         @content;
//     }
// }

// // Media between the breakpoint's minimum and maximum widths.
// // No minimum for the smallest breakpoint, and no maximum for the largest one.
// // Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
// @mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
//     $min: breakpoint-min($name, $breakpoints);
//     $max: breakpoint-max($name, $breakpoints);

//     @media (min-width: $min) and (max-width: $max) {
//         @content;
//     }
// }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
