.footer{
    background: -webkit-linear-gradient(180deg, rgb(144, 251, 241), rgb(0, 150, 136));
    background: -moz-linear-gradient(180deg, rgb(144, 251, 241), rgb(0, 150, 136));
    background: linear-gradient(180deg, rgb(144, 251, 241), rgb(0, 150, 136));
}

.container{
    padding-bottom: 60px;
}

.practic{
    display: flex;
    //flex-direction: column;
}

.block__row{
    display: flex;
   // flex-direction: column;
}


.icon-img{
    width: 60px;
    height: 60px;
}
.inner{
    min-height: 150px;
    border: 2px solid #009688;
    border-radius: 10px;
   // margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.block__element{
    
    padding: 10px 10px;
    flex: 1 1  20%;
    
}

.block__row{

    display: flex;
    margin: -5px -5px;
   // height: 2000px;
    flex-wrap:wrap;
    justify-content: center;
    
 }
 h2{
     text-align: center;
     font-size: 22px;
     color: rgb(88, 88, 88);
 }
 .menu-close{
    display: flex;
  //  justify-content:flex-end;

}

.menu__close-btn{
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
border: 1px solid rgb(0, 150, 136);
border-radius: 50%;
background: white;
left:auto;
right: 40;
top: 30px;
cursor: pointer;

}


.menu__close-line{
width: 20px;
height: 1px;
background: rgb(0, 150, 136);
transform: rotate(45deg);
position: absolute;
}
.menu__close-btn::before{
    content: "";
    width: 20px;
    height: 1px;
    background: rgb(0, 150, 136);
    transform: rotate(135deg);
    position: absolute;
    }