<app-menu></app-menu>
<div class="content">
    <div class="container">

        <div class="block__row">
            <div class="block__element" *ngFor="let p of practic" (click)="openPractice(p)">
                <div class="inner">
                    <div class="image">
                        <img src="{{p?.ico}}" alt="" >
                    </div>
                    <div class="text">
                        <p>{{p.name}}</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="footer">
        <div class="menu-button__block" (click)="onToggleMenu()">
            <span class="menu-button"> </span>
        </div>
        <div class="menu-close">
            <div class="menu__close-btn" (click)="back()">
                <span class="menu__close-line"></span>
            </div>
        </div>
    </div>
</div>